@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Marcellus", serif;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-font: "DM Sans", serif;
  --primary-color:#eb3678;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

// Header - Component

header {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-weight: 600;
  position: fixed;
  top: 0%;
  right: 0%;
  background-color: #ffffff;
  z-index: 999;
    .logo {
        width: 150px;
    }
    .header-button {
      background-color: #eb3678;
      color: white;
    }
    .header-content {
      border-bottom: 3px solid transparent;
      transition: all ease 0.5s;
      padding-bottom: 3px;
      color: black;
    }
    .header-content:hover {
      border-bottom: 3px solid #000000;
    }
  }

// Home - Page

.home-page {
  position: relative;
    .left-section {
        // .head {
        // }
        // .sub-title {
           
        // }
        button {
          background-color: #eb3678;
          color: white;  
          transition: all ease 0.6s;
          opacity: 1;
          border: 1px solid transparent;
        }
        .googleplay-button {
          color: #9d2e57;
          border: 1px solid #872046;
          background-color: transparent;
        }
        .app-store-button:hover, .googleplay-button:hover {
          transform: scale(0.95);  
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.227);  
          opacity: 0.9;
          
        }
        .app-store-button:hover {
          color: #9d2e57;
          border: 1px solid #872046;
          background-color: transparent;
        }
        .googleplay-button:hover {
          color: #ffffff;
          border: 1px solid black;
          background-color: black;
        }
    }
     
}

// Feature Component 

.about-app {
  margin-top: 5px;
  .getapp-section {
    width: 100%;
 
    background-color: #9d2e57;
    transition: all ease 0.6s;
    // border-bottom-left-radius: 40%; /* Rounds the bottom-left corner */
    // border-bottom-right-radius: 40%;
    clip-path: ellipse(75% 100% at top);
      button {
        color: #872046;
        border: 1px solid  transparent;
        transition: all ease 0.4s;
      }
      button:hover {
        border: 1px solid white;
        color: white;
      }
  }
  .getapp-section:hover {

  }
  .our-features {
    overflow: hidden;
    padding-top: 60px;
    position: relative; 
    z-index: auto;
  }
  
  .box-one, .box-two, .box-three {
    position: relative;  
    transition: all ease 0.3s;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
    // background-position: top;
  }
  
  .box-one {
    transform: rotate(-4deg);
    background-color:  #2a8720;
    z-index: 12;
    background: url('../assets/shetalkone.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .box-two {
    transform: rotate(8deg);
    background-color:  #872046;
    z-index: 13;
      .box-btn {
       color: #872046;
       background-color: white;
      }
  }
  
  .box-three {
    transform: rotate(-4deg);
    background-color: #d47216;
    z-index: 14;
    background: url('../assets/shetalktwo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* Hover effects */
.box-one:hover,
.box-two:hover,
.box-three:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 20;
}
}

// Logo Section 

.logo-section {
  .logos {
    color: rgba(65, 65, 65, 0.892);
  }
}

// AboutApp Component

$transition-duration: 0.9s;

.about-page {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  overflow: hidden;

  .section-two {
    position: relative;
    overflow: hidden;

    .about-one,
    .about-two,
    .about-three,
    .about-four {
      position: absolute;
      width: 170px;
      height: 190px;
      object-fit: cover;
      border-radius: 8px;
      opacity: 0;
      transform: translateX(100%) scale(0); /* Start from the right and scale smaller */
      transition: transform $transition-duration ease, opacity $transition-duration ease;
    }

    .about-one {
      top: 21%;
      left: 8%;
      transform: translateX(100%) scale(0); /* Start from the right and scale smaller */
      width: 230px;
      height: 200px;
    }

    .about-two {
      top: 50%;
      left: 17%;
      transform: translateX(100%) scale(0); /* Start from the right and scale smaller */
      width: 170px;
      height: 240px;
      border-top-left-radius: 8px;  /* Border radius only on the top-left */
      border-top-right-radius: 8px; /* Border radius only on the top-right */
      border-bottom-left-radius: 8px; /* No border radius on the bottom-left */
      border-bottom-right-radius: 0;
    }

    .about-three {
      top: 25%;
      right: 122px;
      width: 180px;
      height: 210px;
      transform: translateX(-100%) scale(0); /* Start from the left and scale smaller */
    }

    .about-four {
      top: 55%;
      right: 21%;
      width: 190px;
      height: 205px;
      transform: translateX(100%) scale(0.3); /* Start from the right and scale smaller */
    }
  }

  .screenshot {
    position: relative;
    z-index: 1;
  }
}


//  AboutUs Component

.about-page.us {
  background-color: rgb(230, 230, 230);
   .section-two {
     .screenshot-image {
      animation: scaleUpDown 3s ease-in-out infinite;
     }
     @keyframes scaleUpDown {
      0% {
        transform: scale(1); // Original size
      }
      50% {
        transform: scale(1.03); // Scale up
      }
      100% {
        transform: scale(1); // Return to original size
    }
   }
}
}


// Download

.getapp-section {
  width: 100%;

  background-color: #9d2e57;
  transition: all ease 0.6s;
  // border-bottom-left-radius: 40%; /* Rounds the bottom-left corner */
  // border-bottom-right-radius: 40%;
  clip-path: ellipse(75% 100% at top);
    button {
      color: #872046;
      border: 1px solid  transparent;
      transition: all ease 0.4s;
    }
    button:hover {
      border: 1px solid white;
      color: white;
    }
}
.getapp-section:hover {

}


// DisplayImage Component

.right-section {
  background-color: #eb367863;
  position: relative;
  clip-path: polygon(13% 0, 100% 0, 100% 100%, 13% 100%, 0 56%);
  transition: all ease-in 0.6s;
    .home-logo-image {
      position: absolute;
      top: 558px;
      left: 17%;
      width: 500px;
      height: 100px;
      object-fit: cover;
      text-shadow: 5px 5px 10px #eb3678b4;
    }
    .screen-one {
      position: absolute;
      width: 190px;
      // height: 280px;
      top: 16%;
      right: 7%;
      z-index: 15;
      display: none;
    }
    .screen-two {
      position: absolute;
      width: 410px;
      // height: 280px;
      top: 5px;
      left: -10%;
      z-index: 15;
    }
}
.right-section:hover {
  background-color:#ffffff;
  border-bottom-left-radius: 0%; 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 56%);
}


// Carousel Section





 




















































@media(max-width:590px){
  .home-page {
    // background: url('../assets/home-bg.png');
    // background-size: contain;
    // background-repeat: no-repeat;
  } 
  .logo-section {
    .logos {
      color: rgb(65, 65, 65);
    }
  }
  .about-page {
    gap: 20px;
    grid-template-columns: 1fr;
    .section-one {
      
    }
    .section-two {
    
      .about-one {
        top: 21%;
        left: 4%;
        width: 100px;
        height: 130px;
      }
  
      .about-two {
        top: 54%;
        left: 6%; 
        width: 100px;
        height: 150px;
        border-radius: 8px;
      }
  
      .about-three {
        top: 25%;
        right: 5%;
        width: 90px;
        height: 160px;
 
      }
  
      .about-four {
        top: 65%;
        right: 8%;
        width: 100px;
        height: 75px;
        transform: translateX(100%) scale(0.8); /* Start from the right and scale smaller */
      }
    }
  }
}

